# 1.- Realizar todos los ejercicios propuestos de libro

In [2]:
# In Python, define a schema 

import sys
from pyspark.sql import SparkSession
from pyspark.sql.functions import count
from pyspark.sql.functions import sum
from pyspark.sql.functions import col
from pyspark.sql.types import *

In [3]:
spark = (SparkSession
 .builder
 .appName("Baterias")
 .getOrCreate())


# Read JSON file into dataframe
df = spark.read.json("C:/Users/alejandro.perez/Documents/LearningSparkV2-master/databricks-datasets/learning-spark-v2/iot-devices/iot_devices.json")
df.printSchema()
df.show(truncate = False)

root
 |-- battery_level: long (nullable = true)
 |-- c02_level: long (nullable = true)
 |-- cca2: string (nullable = true)
 |-- cca3: string (nullable = true)
 |-- cn: string (nullable = true)
 |-- device_id: long (nullable = true)
 |-- device_name: string (nullable = true)
 |-- humidity: long (nullable = true)
 |-- ip: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- lcd: string (nullable = true)
 |-- longitude: double (nullable = true)
 |-- scale: string (nullable = true)
 |-- temp: long (nullable = true)
 |-- timestamp: long (nullable = true)

+-------------+---------+----+----+-------------+---------+------------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|battery_level|c02_level|cca2|cca3|cn           |device_id|device_name             |humidity|ip             |latitude|lcd   |longitude|scale  |temp|timestamp    |
+-------------+---------+----+----+-------------+---------+------------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|8            |868      |US  |USA |United States|1        |meter-gauge-1xbYRYcj    |51      |68.161.225.1   |38.0    |green |-97.0    |Celsius|34  |1458444054093|
|7            |1473     |NO  |NOR |Norway       |2        |sensor-pad-2n2Pea       |70      |213.161.254.1  |62.47   |red   |6.15     |Celsius|11  |1458444054119|
|2            |1556     |IT  |ITA |Italy        |3        |device-mac-36TWSKiT     |44      |88.36.5.1      |42.83   |red   |12.83    |Celsius|19  |1458444054120|
|6            |1080     |US  |USA |United States|4        |sensor-pad-4mzWkz       |32      |66.39.173.154  |44.06   |yellow|-121.32  |Celsius|28  |1458444054121|
|4            |931      |PH  |PHL |Philippines  |5        |therm-stick-5gimpUrBB   |62      |203.82.41.9    |14.58   |green |120.97   |Celsius|25  |1458444054122|
|3            |1210     |US  |USA |United States|6        |sensor-pad-6al7RTAobR   |51      |204.116.105.67 |35.93   |yellow|-85.46   |Celsius|27  |1458444054122|
|3            |1129     |CN  |CHN |China        |7        |meter-gauge-7GeDoanM    |26      |220.173.179.1  |22.82   |yellow|108.32   |Celsius|18  |1458444054123|
|0            |1536     |JP  |JPN |Japan        |8        |sensor-pad-8xUD6pzsQI   |35      |210.173.177.1  |35.69   |red   |139.69   |Celsius|27  |1458444054123|
|3            |807      |JP  |JPN |Japan        |9        |device-mac-9GcjZ2pw     |85      |118.23.68.227  |35.69   |green |139.69   |Celsius|13  |1458444054124|
|7            |1470     |US  |USA |United States|10       |sensor-pad-10BsywSYUF   |56      |208.109.163.218|33.61   |red   |-111.89  |Celsius|26  |1458444054125|
|3            |1544     |IT  |ITA |Italy        |11       |meter-gauge-11dlMTZty   |85      |88.213.191.34  |42.83   |red   |12.83    |Celsius|16  |1458444054125|
|0            |1260     |US  |USA |United States|12       |sensor-pad-12Y2kIm0o    |92      |68.28.91.22    |38.0    |yellow|-97.0    |Celsius|12  |1458444054126|
|6            |1007     |IN  |IND |India        |13       |meter-gauge-13GrojanSGBz|92      |59.144.114.250 |28.6    |yellow|77.2     |Celsius|13  |1458444054127|
|1            |1346     |NO  |NOR |Norway       |14       |sensor-pad-14QL93sBR0j  |90      |193.156.90.200 |59.95   |yellow|10.75    |Celsius|16  |1458444054127|
|9            |1259     |US  |USA |United States|15       |device-mac-15se6mZ      |70      |67.185.72.1    |47.41   |yellow|-122.0   |Celsius|13  |1458444054128|
|4            |1425     |US  |USA |United States|16       |sensor-pad-16aXmIJZtdO  |53      |68.85.85.106   |38.0    |red   |-97.0    |Celsius|15  |1458444054128|
|0            |1466     |US  |USA |United States|17       |meter-gauge-17zb8Fghhl  |98      |161.188.212.254|39.95   |red   |-75.16   |Celsius|31  |1458444054129|
|4            |1096     |CN  |CHN |China        |18       |sensor-pad-18XULN9Xv    |25      |221.3.128.242  |25.04   |yellow|102.72   |Celsius|31  |1458444054130|
|9            |1531     |US  |USA |United States|19       |meter-gauge-19eg1BpfCO  |75      |64.124.180.215 |38.0    |red   |-97.0    |Celsius|29  |1458444054130|
|7            |1155     |US  |USA |United States|20       |sensor-pad-20gFNfBgqr   |33      |66.153.162.66  |33.94   |yellow|-78.92   |Celsius|10  |1458444054131|
+-------------+---------+----+----+-------------+---------+------------------------+--------+---------------+--------+------+---------+-------+----+-------------+
only showing top 20 rows

# Ejercicios página 74

### Detect failing devices with battery levels below a threshold

In [4]:
import pyspark.sql.functions as F
from pyspark.sql.types import DoubleType
from pyspark.sql.types import IntegerType


batteryFilter = df.withColumn("battery_level", F.col("battery_level").cast(IntegerType()) )\
                 .where(F.col("battery_level")<5)

batteryFilter.show(truncate= False)

+-------------+---------+----+----+-----------------+---------+-----------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|battery_level|c02_level|cca2|cca3|cn               |device_id|device_name            |humidity|ip             |latitude|lcd   |longitude|scale  |temp|timestamp    |
+-------------+---------+----+----+-----------------+---------+-----------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|2            |1556     |IT  |ITA |Italy            |3        |device-mac-36TWSKiT    |44      |88.36.5.1      |42.83   |red   |12.83    |Celsius|19  |1458444054120|
|4            |931      |PH  |PHL |Philippines      |5        |therm-stick-5gimpUrBB  |62      |203.82.41.9    |14.58   |green |120.97   |Celsius|25  |1458444054122|
|3            |1210     |US  |USA |United States    |6        |sensor-pad-6al7RTAobR  |51      |204.116.105.67 |35.93   |yellow|-85.46   |Celsius|27  |1458444054122|
|3            |1129     |CN  |CHN |China            |7        |meter-gauge-7GeDoanM   |26      |220.173.179.1  |22.82   |yellow|108.32   |Celsius|18  |1458444054123|
|0            |1536     |JP  |JPN |Japan            |8        |sensor-pad-8xUD6pzsQI  |35      |210.173.177.1  |35.69   |red   |139.69   |Celsius|27  |1458444054123|
|3            |807      |JP  |JPN |Japan            |9        |device-mac-9GcjZ2pw    |85      |118.23.68.227  |35.69   |green |139.69   |Celsius|13  |1458444054124|
|3            |1544     |IT  |ITA |Italy            |11       |meter-gauge-11dlMTZty  |85      |88.213.191.34  |42.83   |red   |12.83    |Celsius|16  |1458444054125|
|0            |1260     |US  |USA |United States    |12       |sensor-pad-12Y2kIm0o   |92      |68.28.91.22    |38.0    |yellow|-97.0    |Celsius|12  |1458444054126|
|1            |1346     |NO  |NOR |Norway           |14       |sensor-pad-14QL93sBR0j |90      |193.156.90.200 |59.95   |yellow|10.75    |Celsius|16  |1458444054127|
|4            |1425     |US  |USA |United States    |16       |sensor-pad-16aXmIJZtdO |53      |68.85.85.106   |38.0    |red   |-97.0    |Celsius|15  |1458444054128|
|0            |1466     |US  |USA |United States    |17       |meter-gauge-17zb8Fghhl |98      |161.188.212.254|39.95   |red   |-75.16   |Celsius|31  |1458444054129|
|4            |1096     |CN  |CHN |China            |18       |sensor-pad-18XULN9Xv   |25      |221.3.128.242  |25.04   |yellow|102.72   |Celsius|31  |1458444054130|
|4            |880      |US  |USA |United States    |25       |therm-stick-25kK6VyzIFB|78      |24.154.45.90   |41.1    |green |-80.76   |Celsius|27  |1458444054134|
|3            |1502     |KR  |KOR |Republic of Korea|28       |sensor-pad-28Tsudcoikw |64      |211.238.224.77 |37.29   |red   |127.01   |Celsius|25  |1458444054136|
|3            |835      |RU  |RUS |Russia           |33       |device-mac-33B94GfPzi  |30      |178.23.147.134 |55.75   |green |37.62    |Celsius|15  |1458444054139|
|1            |1305     |CY  |CYP |Cyprus           |36       |sensor-pad-36VQv8fnEg  |47      |213.7.14.1     |35.0    |yellow|33.0     |Celsius|24  |1458444054141|
|2            |908      |CN  |CHN |China            |39       |device-mac-39iklYVtvBT |84      |218.7.15.1     |45.75   |green |126.65   |Celsius|17  |1458444054144|
|2            |1224     |FR  |FRA |France           |40       |sensor-pad-40NjeMqS    |27      |188.7.9.1      |49.17   |yellow|6.19     |Celsius|34  |1458444054145|
|2            |913      |ES  |ESP |Spain            |43       |meter-gauge-43RYonsvaW |39      |80.81.64.142   |40.4    |green |-3.68    |Celsius|12  |1458444054148|
|0            |917      |DE  |DEU |Germany          |44       |sensor-pad-448DeWGL    |63      |62.128.16.74   |49.46   |green |11.1     |Celsius|27  |1458444054149|
+-------------+---------+----+----+-----------------+---------+-----------------------+--------+---------------+--------+------+---------+-------+----+-------------+
only showing top 20 rows

### Identify offending countries with high levels of CO2 emissions

In [5]:
from pyspark.sql import Window
w = Window().partitionBy("temp")

highC02 = df.withColumn("c02_level", F.col("c02_level").cast(IntegerType()))\
            .withColumn("mediaC02_temp", F.mean("c02_level").over(w))\
            .where(F.col("c02_level") > F.col("mediaC02_temp"))\
            .select(F.col("C02_level"), F.col("mediaC02_temp"), F.col("cn"), F.col("temp"))

highC02.show(truncate= False)

+---------+------------------+-------------+----+
|C02_level|mediaC02_temp     |cn           |temp|
+---------+------------------+-------------+----+
|1470     |1197.9663077897403|United States|26  |
|1399     |1197.9663077897403|United States|26  |
|1553     |1197.9663077897403|Ecuador      |26  |
|1360     |1197.9663077897403|United States|26  |
|1477     |1197.9663077897403|China        |26  |
|1565     |1197.9663077897403|United States|26  |
|1556     |1197.9663077897403|Monaco       |26  |
|1372     |1197.9663077897403|United States|26  |
|1533     |1197.9663077897403|United States|26  |
|1370     |1197.9663077897403|United States|26  |
|1399     |1197.9663077897403|United States|26  |
|1505     |1197.9663077897403|Russia       |26  |
|1545     |1197.9663077897403|United States|26  |
|1525     |1197.9663077897403|Ireland      |26  |
|1261     |1197.9663077897403|Japan        |26  |
|1227     |1197.9663077897403|United States|26  |
|1316     |1197.9663077897403|United States|26  |
|1254     |1197.9663077897403|China        |26  |
|1433     |1197.9663077897403|United States|26  |
|1413     |1197.9663077897403|United States|26  |
+---------+------------------+-------------+----+
only showing top 20 rows

### Compute the min and max values for temperature, battery level, C02 and humidity

In [6]:
minMax = df.withColumn("c02_level", F.col("c02_level").cast(IntegerType()))\
            .withColumn("temp", F.col("temp").cast(IntegerType()))\
            .withColumn("battery_level", F.col("battery_level").cast(IntegerType()))\
            .withColumn("humidity", F.col("humidity").cast(IntegerType()))\
            .groupBy("cn")\
            .agg(F.min(F.col("c02_level")).alias("MinC02"), F.min(F.col("battery_level")).alias("minBat"), F.min(F.col("temp")).alias("minTemp"), F.min(F.col("humidity")).alias("minHum"), 
                 F.max(F.col("c02_level")).alias("MaxC02"), F.max(F.col("battery_level")).alias("maxBat"), F.max(F.col("temp")).alias("maxTemp"), F.max(F.col("humidity")).alias("maxHum"))

minMax.show(truncate= False)

+------------------------------+------+------+-------+------+------+------+-------+------+
|cn                            |MinC02|minBat|minTemp|minHum|MaxC02|maxBat|maxTemp|maxHum|
+------------------------------+------+------+-------+------+------+------+-------+------+
|Russia                        |800   |0     |10     |25    |1599  |9     |34     |99    |
|Paraguay                      |836   |0     |10     |27    |1580  |9     |33     |98    |
|Anguilla                      |865   |0     |23     |26    |1398  |9     |34     |83    |
|Macao                         |831   |0     |10     |25    |1592  |9     |34     |98    |
|U.S. Virgin Islands           |819   |0     |10     |25    |1591  |9     |34     |99    |
|Yemen                         |817   |0     |10     |28    |1427  |9     |32     |95    |
|British Indian Ocean Territory|852   |7     |25     |54    |1560  |7     |27     |76    |
|Senegal                       |802   |1     |11     |25    |1589  |9     |34     |94    |
|Sweden                        |800   |0     |10     |25    |1599  |9     |34     |99    |
|Republic of Korea             |800   |0     |10     |25    |1599  |9     |34     |99    |
|Guyana                        |843   |2     |14     |25    |1262  |5     |22     |94    |
|Philippines                   |803   |0     |10     |25    |1599  |9     |34     |99    |
|Jersey                        |808   |0     |11     |25    |1597  |9     |33     |98    |
|Tonga                         |1323  |2     |16     |25    |1323  |2     |16     |25    |
|Singapore                     |800   |0     |10     |25    |1597  |9     |34     |99    |
|Malaysia                      |803   |0     |10     |25    |1599  |9     |34     |99    |
|Fiji                          |876   |0     |14     |30    |1533  |9     |33     |96    |
|Turkey                        |802   |0     |10     |25    |1599  |9     |34     |99    |
|Malawi                        |803   |0     |17     |28    |1399  |9     |34     |93    |
|Åland                         |871   |0     |10     |27    |1593  |9     |34     |99    |
+------------------------------+------+------+-------+------+------+------+-------+------+
only showing top 20 rows

# 2.- Leer el CSV del ejemplo del cap2 y obtener la estructura del schema dado por defecto.

In [7]:
mnm_file = "C:/Users/alejandro.perez/Documents/LearningSparkV2-master/chapter2/py/src/data/mnm_dataset.csv"
 # Read the file into a Spark DataFrame using the CSV
 # format by inferring the schema and specifying that the
 # file contains a header, which provides column names for comma-
 # separated fields.

mnm_df = (spark.read.format("csv")
 .option("header", "true")
 .option("inferSchema", "true")
 .load(mnm_file))

In [8]:
mnm_df.show()

+-----+------+-----+
|State| Color|Count|
+-----+------+-----+
|   TX|   Red|   20|
|   NV|  Blue|   66|
|   CO|  Blue|   79|
|   OR|  Blue|   71|
|   WA|Yellow|   93|
|   WY|  Blue|   16|
|   CA|Yellow|   53|
|   WA| Green|   60|
|   OR| Green|   71|
|   TX| Green|   68|
|   NV| Green|   59|
|   AZ| Brown|   95|
|   WA|Yellow|   20|
|   AZ|  Blue|   75|
|   OR| Brown|   72|
|   NV|   Red|   98|
|   WY|Orange|   45|
|   CO|  Blue|   52|
|   TX| Brown|   94|
|   CO|   Red|   82|
+-----+------+-----+
only showing top 20 rows

In [10]:
mnm_df.printSchema()

root
 |-- State: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- Count: integer (nullable = true)

# 3.- Cuando se define un schema al definir un campo por ejemplo StructField('Delay', FloatType(), True) ¿qué significa el último parámetro Boolean?

Especifica cuando el campo, en este caso 'Delay' puede tener valores nulos o no, en este caso y por defecto viene asignado el valor True por lo que si puede tener valores nulos.

# 4.- Dataset vs DataFrame (Scala). ¿En qué se diferencian a nivel de código?

Los Dataset permiten utilizar funciones de la API de los rdd y están optimizados con Catalyst.

# 5.- Utilizando el mismo ejemplo utilizado en el capítulo para guardar en parquet y guardar los datos en los formatos:

In [14]:
mnm_df.write.format("avro")\
      .save("mnm.avro")

In [15]:
mnm_df.write.format("json")\
      .save("mnm.json")

In [16]:
mnm_df.write.format("csv")\
      .save("mnm.csv")