# 1.- Realizar todos los ejercicios propuestos de libro

## Codigo página 85

In [1]:
import org.apache.spark.sql.SparkSession 
val spark = SparkSession
 .builder
 .appName("SparkSQLExampleApp")
 .getOrCreate()

Intitializing Scala interpreter ...

Spark Web UI available at http://L2202039.bosonit.local:4044
SparkContext available as 'sc' (version = 3.1.3, master = local[*], app id = local-1652180160243)
SparkSession available as 'spark'

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@35553633

In [2]:
// Path to data set 
val csvFile="C:/Users/alejandro.perez/Documents/LearningSparkV2-master/databricks-datasets/learning-spark-v2/flights/departuredelays.csv"
// Read and create a temporary view
// Infer schema (note that for larger files you may want to specify the schema)
val df = spark.read.format("csv")
 .option("inferSchema", "true")
 .option("header", "true")
 .load(csvFile)
// Create a temporary view
df.createOrReplaceTempView("us_delay_flights_tbl")

csvFile: String = C:/Users/alejandro.perez/Documents/LearningSparkV2-master/databricks-datasets/learning-spark-v2/flights/departuredelays.csv
df: org.apache.spark.sql.DataFrame = [date: int, delay: int ... 3 more fields]

In [3]:
val schema = "date STRING, delay INT, distance INT, origin STRING, destination STRING"

schema: String = date STRING, delay INT, distance INT, origin STRING, destination STRING

In [4]:
spark.sql("""SELECT distance, origin, destination 
FROM us_delay_flights_tbl WHERE distance > 1000 
ORDER BY distance DESC""").show(10)

+--------+------+-----------+
|distance|origin|destination|
+--------+------+-----------+
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
|    4330|   HNL|        JFK|
+--------+------+-----------+
only showing top 10 rows

### Como resultado vemos que los vuelos de mayor distancia se producen entre Nueva York (JFK) y Honolulu (HNL)

In [5]:
spark.sql("""SELECT date, delay, origin, destination 
FROM us_delay_flights_tbl 
WHERE delay > 120 AND ORIGIN = 'SFO' AND DESTINATION = 'ORD' 
ORDER by delay DESC""").show(10)

+-------+-----+------+-----------+
|   date|delay|origin|destination|
+-------+-----+------+-----------+
|2190925| 1638|   SFO|        ORD|
|1031755|  396|   SFO|        ORD|
|1022330|  326|   SFO|        ORD|
|1051205|  320|   SFO|        ORD|
|1190925|  297|   SFO|        ORD|
|2171115|  296|   SFO|        ORD|
|1071040|  279|   SFO|        ORD|
|1051550|  274|   SFO|        ORD|
|3120730|  266|   SFO|        ORD|
|1261104|  258|   SFO|        ORD|
+-------+-----+------+-----------+
only showing top 10 rows

### Podemos apreciar que hay un retraso significativo entre estas dos ciudades en días diferentes

In [6]:
spark.sql("""SELECT delay, origin, destination,
 CASE
 WHEN delay > 360 THEN 'Very Long Delays'
 WHEN delay > 120 AND delay < 360 THEN 'Long Delays'
 WHEN delay > 60 AND delay < 120 THEN 'Short Delays'
 WHEN delay > 0 and delay < 60 THEN 'Tolerable Delays'
 WHEN delay = 0 THEN 'No Delays'
 ELSE 'Early'
 END AS Flight_Delays
 FROM us_delay_flights_tbl
 ORDER BY origin, delay DESC""").show(10)

+-----+------+-----------+-------------+
|delay|origin|destination|Flight_Delays|
+-----+------+-----------+-------------+
|  333|   ABE|        ATL|  Long Delays|
|  305|   ABE|        ATL|  Long Delays|
|  275|   ABE|        ATL|  Long Delays|
|  257|   ABE|        ATL|  Long Delays|
|  247|   ABE|        DTW|  Long Delays|
|  247|   ABE|        ATL|  Long Delays|
|  219|   ABE|        ORD|  Long Delays|
|  211|   ABE|        ATL|  Long Delays|
|  197|   ABE|        DTW|  Long Delays|
|  192|   ABE|        ORD|  Long Delays|
+-----+------+-----------+-------------+
only showing top 10 rows

# 2.-GlobalTempView vs TempView

Las vistas temporales (TempView) se encuentran ligadas a al sesión de Spark y en caso de que cerremos la sesión perderemos la vista temporal. Las vistas globales (GlobalTempView) se encuentran ligadas al sistema y se **preservan en la base de datos 'global_temp'**

# 3.-Leer los AVRO, Parquet, JSON y CSV escritos en el cap3

In [7]:
val mnmAvro= spark.read.format("avro").load("C:/Users/alejandro.perez/Documents/Ejercicios Spark/Tema3 Learning Spark/mnmSCALA.avro")

mnmAvro: org.apache.spark.sql.DataFrame = [State: string, Color: string ... 1 more field]

In [8]:
mnmAvro.printSchema()

root
 |-- State: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- Count: integer (nullable = true)

In [9]:
mnmAvro.show()

+-----+------+-----+
|State| Color|Count|
+-----+------+-----+
|   TX|   Red|   20|
|   NV|  Blue|   66|
|   CO|  Blue|   79|
|   OR|  Blue|   71|
|   WA|Yellow|   93|
|   WY|  Blue|   16|
|   CA|Yellow|   53|
|   WA| Green|   60|
|   OR| Green|   71|
|   TX| Green|   68|
|   NV| Green|   59|
|   AZ| Brown|   95|
|   WA|Yellow|   20|
|   AZ|  Blue|   75|
|   OR| Brown|   72|
|   NV|   Red|   98|
|   WY|Orange|   45|
|   CO|  Blue|   52|
|   TX| Brown|   94|
|   CO|   Red|   82|
+-----+------+-----+
only showing top 20 rows

In [10]:
val mnmJSON= spark.read.format("json").load("C:/Users/alejandro.perez/Documents/Ejercicios Spark/Tema3 Learning Spark/mnmSCALA.json")

mnmJSON: org.apache.spark.sql.DataFrame = [Color: string, Count: bigint ... 1 more field]

In [11]:
mnmJSON.printSchema()

root
 |-- Color: string (nullable = true)
 |-- Count: long (nullable = true)
 |-- State: string (nullable = true)

In [12]:
mnmJSON.show()

+------+-----+-----+
| Color|Count|State|
+------+-----+-----+
|   Red|   20|   TX|
|  Blue|   66|   NV|
|  Blue|   79|   CO|
|  Blue|   71|   OR|
|Yellow|   93|   WA|
|  Blue|   16|   WY|
|Yellow|   53|   CA|
| Green|   60|   WA|
| Green|   71|   OR|
| Green|   68|   TX|
| Green|   59|   NV|
| Brown|   95|   AZ|
|Yellow|   20|   WA|
|  Blue|   75|   AZ|
| Brown|   72|   OR|
|   Red|   98|   NV|
|Orange|   45|   WY|
|  Blue|   52|   CO|
| Brown|   94|   TX|
|   Red|   82|   CO|
+------+-----+-----+
only showing top 20 rows

In [20]:
val mnmCSV= spark.read.format("csv").option("inferSchema", "true").option("header", "false").load("C:/Users/alejandro.perez/Documents/Ejercicios Spark/Tema3 Learning Spark/mnmSCALA.csv")

mnmCSV: org.apache.spark.sql.DataFrame = [_c0: string, _c1: string ... 1 more field]

In [21]:
mnmCSV.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: integer (nullable = true)

In [22]:
mnmCSV.show()

+---+------+---+
|_c0|   _c1|_c2|
+---+------+---+
| TX|   Red| 20|
| NV|  Blue| 66|
| CO|  Blue| 79|
| OR|  Blue| 71|
| WA|Yellow| 93|
| WY|  Blue| 16|
| CA|Yellow| 53|
| WA| Green| 60|
| OR| Green| 71|
| TX| Green| 68|
| NV| Green| 59|
| AZ| Brown| 95|
| WA|Yellow| 20|
| AZ|  Blue| 75|
| OR| Brown| 72|
| NV|   Red| 98|
| WY|Orange| 45|
| CO|  Blue| 52|
| TX| Brown| 94|
| CO|   Red| 82|
+---+------+---+
only showing top 20 rows

In [23]:
val fireparquet= spark.read.format("parquet").load("C:/Users/alejandro.perez/Documents/Ejercicios Spark/Tema3 Learning Spark/Guardar7/fire.parquet")

fireparquet: org.apache.spark.sql.DataFrame = [CallNumber: int, UnitID: string ... 26 more fields]

In [24]:
fireparquet.printSchema()

root
 |-- CallNumber: integer (nullable = true)
 |-- UnitID: string (nullable = true)
 |-- IncidentNumber: integer (nullable = true)
 |-- CallType: string (nullable = true)
 |-- CallFinalDisposition: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- Battalion: string (nullable = true)
 |-- StationArea: string (nullable = true)
 |-- Box: string (nullable = true)
 |-- OriginalPriority: string (nullable = true)
 |-- Priority: string (nullable = true)
 |-- FinalPriority: integer (nullable = true)
 |-- ALSUnit: boolean (nullable = true)
 |-- CallTypeGroup: string (nullable = true)
 |-- NumAlarms: integer (nullable = true)
 |-- UnitType: string (nullable = true)
 |-- UnitSequenceInCallDispatch: integer (nullable = true)
 |-- FirePreventionDistrict: string (nullable = true)
 |-- SupervisorDistrict: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- RowID: string (nullable = true)
 |-- ResponseDelayedinMins: float (nullable = true)
 |-- IncidentDate: timestamp (nullable = true)
 |-- OnWatchDate: timestamp (nullable = true)
 |-- AvailableDtTS: timestamp (nullable = true)

In [25]:
fireparquet.show(5)

+----------+------+--------------+----------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+------------------+--------------------+-------------+---------------------+-------------------+-------------------+-------------------+
|CallNumber|UnitID|IncidentNumber|        CallType|CallFinalDisposition|             Address|City|Zipcode|Battalion|StationArea| Box|OriginalPriority|Priority|FinalPriority|ALSUnit|CallTypeGroup|NumAlarms|UnitType|UnitSequenceInCallDispatch|FirePreventionDistrict|SupervisorDistrict|      Neighborhood|            Location|        RowID|ResponseDelayedinMins|       IncidentDate|        OnWatchDate|      AvailableDtTS|
+----------+------+--------------+----------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+------------------+--------------------+-------------+---------------------+-------------------+-------------------+-------------------+
| 110660238|    60|      11021821|Medical Incident|                Fire|0 Block of BORICA ST|  SF|  94127|      B09|         19|8442|               3|       2|            2|   true|         null|        1|   MEDIC|                         1|                     9|                 7|West of Twin Peaks|(37.7225922041408...| 110660238-60|                  2.9|2011-03-07 00:00:00|2011-03-07 00:00:00|2011-03-07 16:23:05|
| 110660253|   B03|      11021831|          Alarms|                Fire|1000 Block of HOW...|  SF|  94103|      B03|         01|2252|               3|       3|            3|  false|         null|        1|   CHIEF|                         3|                     3|                 6|   South of Market|(37.7795675906982...|110660253-B03|            2.3833334|2011-03-07 00:00:00|2011-03-07 00:00:00|2011-03-07 17:13:21|
| 110660282|   E43|      11021856|Medical Incident|               Other| PERSIA AV/MADRID ST|  SF|  94112|      B09|         43|6134|               3|       3|            3|   true|         null|        1|  ENGINE|                         1|                     9|                11|         Excelsior|(37.7216187707613...|110660282-E43|                 1.65|2011-03-07 00:00:00|2011-03-07 00:00:00|2011-03-07 18:55:52|
| 110660322|    94|      11021888|Medical Incident|               Other|1100 Block of HOW...|  SF|  94103|      B03|         01|2314|               3|       3|            3|   true|         null|        1|   MEDIC|                         3|                     2|                 6|   South of Market|(37.7768521020734...| 110660322-94|            1.5666667|2011-03-07 00:00:00|2011-03-07 00:00:00|2011-03-07 20:49:25|
| 110670051|   B09|      11021963|          Alarms|                Fire|5800 Block of MIS...|  SF|  94112|      B09|         33|6213|               3|       3|            3|  false|         null|        1|   CHIEF|                         3|                     9|                11|     Outer Mission|(37.709160030699,...|110670051-B09|                  2.8|2011-03-08 00:00:00|2011-03-07 00:00:00|2011-03-08 07:36:00|
+----------+------+--------------+----------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+------------------+--------------------+-------------+---------------------+-------------------+-------------------+-------------------+
only showing top 5 rows