### 1.- Realizar todos los ejercicios propuestos de libro (excepto los de hive en caso de utilizar spark instalado en local y en el caso de RDBMS hacer únicamente ejemplo especificado más adelante)

### 2.- Pros y Cons utilizar UDFs

### 3.- Instalar MySQL, descargar driver y cargar datos de BBDD de empleados [Base de datos](https://dev.mysql.com/doc/employee/en/)

#### Cargar con spark datos de empleados y departamentos

In [15]:
// In Scala
// Loading data from a JDBC source using load 
val employees = spark
 .read
 .format("jdbc")
 .option("url", "jdbc:mysql://localhost:3306/employees")
 .option("driver", "com.mysql.jdbc.Driver")
 .option("dbtable", "employees")
 .option("user", "root")
 .option("password", "apl31/5/98ALEX")
 .load()

employees: org.apache.spark.sql.DataFrame = [emp_no: int, birth_date: date ... 4 more fields]

In [16]:
employees.show()

+------+----------+----------+-----------+------+----------+
|emp_no|birth_date|first_name|  last_name|gender| hire_date|
+------+----------+----------+-----------+------+----------+
| 10001|1953-09-02|    Georgi|    Facello|     M|1986-06-26|
| 10002|1964-06-02|   Bezalel|     Simmel|     F|1985-11-21|
| 10003|1959-12-03|     Parto|    Bamford|     M|1986-08-28|
| 10004|1954-05-01| Chirstian|    Koblick|     M|1986-12-01|
| 10005|1955-01-21|   Kyoichi|   Maliniak|     M|1989-09-12|
| 10006|1953-04-20|    Anneke|    Preusig|     F|1989-06-02|
| 10007|1957-05-23|   Tzvetan|  Zielinski|     F|1989-02-10|
| 10008|1958-02-19|    Saniya|   Kalloufi|     M|1994-09-15|
| 10009|1952-04-19|    Sumant|       Peac|     F|1985-02-18|
| 10010|1963-06-01| Duangkaew|   Piveteau|     F|1989-08-24|
| 10011|1953-11-07|      Mary|      Sluis|     F|1990-01-22|
| 10012|1960-10-04|  Patricio|  Bridgland|     M|1992-12-18|
| 10013|1963-06-07| Eberhardt|     Terkki|     M|1985-10-20|
| 10014|1956-02-12|     Berni|      Genin|     M|1987-03-11|
| 10015|1959-08-19|  Guoxiang|  Nooteboom|     M|1987-07-02|
| 10016|1961-05-02|  Kazuhito|Cappelletti|     M|1995-01-27|
| 10017|1958-07-06| Cristinel|  Bouloucos|     F|1993-08-03|
| 10018|1954-06-19|  Kazuhide|       Peha|     F|1987-04-03|
| 10019|1953-01-23|   Lillian|    Haddadi|     M|1999-04-30|
| 10020|1952-12-24|    Mayuko|    Warwick|     M|1991-01-26|
+------+----------+----------+-----------+------+----------+
only showing top 20 rows

In [3]:
val departments = spark
 .read
 .format("jdbc")
 .option("url", "jdbc:mysql://localhost:3306/employees")
 .option("driver", "com.mysql.jdbc.Driver")
 .option("dbtable", "departments")
 .option("user", "root")
 .option("password", "apl31/5/98ALEX")
 .load()

departments: org.apache.spark.sql.DataFrame = [dept_no: string, dept_name: string]

In [7]:
departments.show()

+-------+------------------+
|dept_no|         dept_name|
+-------+------------------+
|   d009|  Customer Service|
|   d005|       Development|
|   d002|           Finance|
|   d003|   Human Resources|
|   d001|         Marketing|
|   d004|        Production|
|   d006|Quality Management|
|   d008|          Research|
|   d007|             Sales|
+-------+------------------+

In [4]:
val dept_manager = spark
 .read
 .format("jdbc")
 .option("url", "jdbc:mysql://localhost:3306/employees")
 .option("driver", "com.mysql.jdbc.Driver")
 .option("dbtable", "dept_manager")
 .option("user", "root")
 .option("password", "apl31/5/98ALEX")
 .load()

dept_manager: org.apache.spark.sql.DataFrame = [emp_no: int, dept_no: string ... 2 more fields]

In [8]:
dept_manager.show()

+------+-------+----------+----------+
|emp_no|dept_no| from_date|   to_date|
+------+-------+----------+----------+
|110022|   d001|1985-01-01|1991-10-01|
|110039|   d001|1991-10-01|9999-01-01|
|110085|   d002|1985-01-01|1989-12-17|
|110114|   d002|1989-12-17|9999-01-01|
|110183|   d003|1985-01-01|1992-03-21|
|110228|   d003|1992-03-21|9999-01-01|
|110303|   d004|1985-01-01|1988-09-09|
|110344|   d004|1988-09-09|1992-08-02|
|110386|   d004|1992-08-02|1996-08-30|
|110420|   d004|1996-08-30|9999-01-01|
|110511|   d005|1985-01-01|1992-04-25|
|110567|   d005|1992-04-25|9999-01-01|
|110725|   d006|1985-01-01|1989-05-06|
|110765|   d006|1989-05-06|1991-09-12|
|110800|   d006|1991-09-12|1994-06-28|
|110854|   d006|1994-06-28|9999-01-01|
|111035|   d007|1985-01-01|1991-03-07|
|111133|   d007|1991-03-07|9999-01-01|
|111400|   d008|1985-01-01|1991-04-08|
|111534|   d008|1991-04-08|9999-01-01|
+------+-------+----------+----------+
only showing top 20 rows

In [5]:
val dept_emp = spark
 .read
 .format("jdbc")
 .option("url", "jdbc:mysql://localhost:3306/employees")
 .option("driver", "com.mysql.jdbc.Driver")
 .option("dbtable", "dept_emp")
 .option("user", "root")
 .option("password", "apl31/5/98ALEX")
 .load()

dept_emp: org.apache.spark.sql.DataFrame = [emp_no: int, dept_no: string ... 2 more fields]

In [9]:
dept_emp.show()

+------+-------+----------+----------+
|emp_no|dept_no| from_date|   to_date|
+------+-------+----------+----------+
| 10001|   d005|1986-06-26|9999-01-01|
| 10002|   d007|1996-08-03|9999-01-01|
| 10003|   d004|1995-12-03|9999-01-01|
| 10004|   d004|1986-12-01|9999-01-01|
| 10005|   d003|1989-09-12|9999-01-01|
| 10006|   d005|1990-08-05|9999-01-01|
| 10007|   d008|1989-02-10|9999-01-01|
| 10008|   d005|1998-03-11|2000-07-31|
| 10009|   d006|1985-02-18|9999-01-01|
| 10010|   d004|1996-11-24|2000-06-26|
| 10010|   d006|2000-06-26|9999-01-01|
| 10011|   d009|1990-01-22|1996-11-09|
| 10012|   d005|1992-12-18|9999-01-01|
| 10013|   d003|1985-10-20|9999-01-01|
| 10014|   d005|1993-12-29|9999-01-01|
| 10015|   d008|1992-09-19|1993-08-22|
| 10016|   d007|1998-02-11|9999-01-01|
| 10017|   d001|1993-08-03|9999-01-01|
| 10018|   d004|1992-07-29|9999-01-01|
| 10018|   d005|1987-04-03|1992-07-29|
+------+-------+----------+----------+
only showing top 20 rows

In [ ]:
val titles = spark
 .read
 .format("jdbc")
 .option("url", "jdbc:mysql://localhost:3306/employees")
 .option("driver", "com.mysql.jdbc.Driver")
 .option("dbtable", "titles")
 .option("user", "root")
 .option("password", "apl31/5/98ALEX")
 .load()

In [10]:
titles.show()

+------+------+----------+----------+
|emp_no|salary| from_date|   to_date|
+------+------+----------+----------+
| 10001| 60117|1986-06-26|1987-06-26|
| 10001| 62102|1987-06-26|1988-06-25|
| 10001| 66074|1988-06-25|1989-06-25|
| 10001| 66596|1989-06-25|1990-06-25|
| 10001| 66961|1990-06-25|1991-06-25|
| 10001| 71046|1991-06-25|1992-06-24|
| 10001| 74333|1992-06-24|1993-06-24|
| 10001| 75286|1993-06-24|1994-06-24|
| 10001| 75994|1994-06-24|1995-06-24|
| 10001| 76884|1995-06-24|1996-06-23|
| 10001| 80013|1996-06-23|1997-06-23|
| 10001| 81025|1997-06-23|1998-06-23|
| 10001| 81097|1998-06-23|1999-06-23|
| 10001| 84917|1999-06-23|2000-06-22|
| 10001| 85112|2000-06-22|2001-06-22|
| 10001| 85097|2001-06-22|2002-06-22|
| 10001| 88958|2002-06-22|9999-01-01|
| 10002| 65828|1996-08-03|1997-08-03|
| 10002| 65909|1997-08-03|1998-08-03|
| 10002| 67534|1998-08-03|1999-08-03|
+------+------+----------+----------+
only showing top 20 rows

In [13]:
val salaries = spark
 .read
 .format("jdbc")
 .option("url", "jdbc:mysql://localhost:3306/employees")
 .option("driver", "com.mysql.jdbc.Driver")
 .option("dbtable", "salaries")
 .option("user", "root")
 .option("password", "apl31/5/98ALEX")
 .load()

salaries: org.apache.spark.sql.DataFrame = [emp_no: int, salary: int ... 2 more fields]

In [14]:
salaries.show()

+------+------+----------+----------+
|emp_no|salary| from_date|   to_date|
+------+------+----------+----------+
| 10001| 60117|1986-06-26|1987-06-26|
| 10001| 62102|1987-06-26|1988-06-25|
| 10001| 66074|1988-06-25|1989-06-25|
| 10001| 66596|1989-06-25|1990-06-25|
| 10001| 66961|1990-06-25|1991-06-25|
| 10001| 71046|1991-06-25|1992-06-24|
| 10001| 74333|1992-06-24|1993-06-24|
| 10001| 75286|1993-06-24|1994-06-24|
| 10001| 75994|1994-06-24|1995-06-24|
| 10001| 76884|1995-06-24|1996-06-23|
| 10001| 80013|1996-06-23|1997-06-23|
| 10001| 81025|1997-06-23|1998-06-23|
| 10001| 81097|1998-06-23|1999-06-23|
| 10001| 84917|1999-06-23|2000-06-22|
| 10001| 85112|2000-06-22|2001-06-22|
| 10001| 85097|2001-06-22|2002-06-22|
| 10001| 88958|2002-06-22|9999-01-01|
| 10002| 65828|1996-08-03|1997-08-03|
| 10002| 65909|1997-08-03|1998-08-03|
| 10002| 67534|1998-08-03|1999-08-03|
+------+------+----------+----------+
only showing top 20 rows

#### Mediante Joins mostrar toda la información de los empleados además de su título y salario

In [22]:
val resultado = employees.as("a").join(salaries.as("b"), employees("emp_no") === salaries("emp_no"), "inner")
                                .join(dept_emp.as("c"), employees("emp_no") === dept_emp("emp_no"), "inner")
                                .join(departments.as("d"), dept_emp("dept_no") === departments("dept_no"), "inner")
                                .select("a.emp_no", "a.birth_date", "a.first_name",  "a.last_name", "a.gender", "a.hire_date","b.salary","d.dept_name")

resultado: org.apache.spark.sql.DataFrame = [emp_no: int, birth_date: date ... 6 more fields]

In [23]:
resultado.show()

+------+----------+----------+---------+------+----------+------+-----------+
|emp_no|birth_date|first_name|last_name|gender| hire_date|salary|  dept_name|
+------+----------+----------+---------+------+----------+------+-----------+
| 10206|1960-09-19|  Alassane|  Iwayama|     F|1988-04-19| 40000|Development|
| 10206|1960-09-19|  Alassane|  Iwayama|     F|1988-04-19| 43519|Development|
| 10206|1960-09-19|  Alassane|  Iwayama|     F|1988-04-19| 46265|Development|
| 10206|1960-09-19|  Alassane|  Iwayama|     F|1988-04-19| 46865|Development|
| 10206|1960-09-19|  Alassane|  Iwayama|     F|1988-04-19| 47837|Development|
| 10206|1960-09-19|  Alassane|  Iwayama|     F|1988-04-19| 52042|Development|
| 10206|1960-09-19|  Alassane|  Iwayama|     F|1988-04-19| 52370|Development|
| 10206|1960-09-19|  Alassane|  Iwayama|     F|1988-04-19| 53202|Development|
| 10206|1960-09-19|  Alassane|  Iwayama|     F|1988-04-19| 56087|Development|
| 10206|1960-09-19|  Alassane|  Iwayama|     F|1988-04-19| 59252|Development|
| 10206|1960-09-19|  Alassane|  Iwayama|     F|1988-04-19| 62716|Development|
| 10206|1960-09-19|  Alassane|  Iwayama|     F|1988-04-19| 67137|Development|
| 10206|1960-09-19|  Alassane|  Iwayama|     F|1988-04-19| 67944|Development|
| 10206|1960-09-19|  Alassane|  Iwayama|     F|1988-04-19| 67588|Development|
| 10206|1960-09-19|  Alassane|  Iwayama|     F|1988-04-19| 71052|Development|
| 10623|1953-07-11|Aleksander|   Danlos|     F|1987-03-07| 60268|Development|
| 10623|1953-07-11|Aleksander|   Danlos|     F|1987-03-07| 61073|Development|
| 10623|1953-07-11|Aleksander|   Danlos|     F|1987-03-07| 63219|Development|
| 10623|1953-07-11|Aleksander|   Danlos|     F|1987-03-07| 67084|Development|
| 10623|1953-07-11|Aleksander|   Danlos|     F|1987-03-07| 66979|Development|
+------+----------+----------+---------+------+----------+------+-----------+
only showing top 20 rows

In [34]:
employees.createOrReplaceTempView("employees")
salaries.createOrReplaceTempView("salaries")
titles.createOrReplaceTempView("titles")
spark.sql("""SELECT employees.birth_date,employees.first_name,employees.last_name,titles.title,salaries.salary
FROM employees
JOIN titles ON employees.emp_no= titles.emp_no
JOIN salaries ON employees.emp_no= salaries.emp_no""").show()

#### Diferencia entre Rank y dense_rank (operaciones de ventana)